@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Lobster");

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 4.5rem !important;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 650;
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 1px 1.5px #ccc;
  text-transform: uppercase;
}

main {
  max-width: 700px;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

table {
  margin: auto;
  border: solid;
  padding: 0;
  border-color: black !important;
}

th {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center !important;
  font-weight: 600;
  font-size: 1.25rem;
  border: solid;
  border-color: black !important;
  padding: 10px;
  background: #ef534f;
}

td {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center !important;
  font-size: 0.75rem;
  border: solid;
  padding: 10px;
  border-color: black !important;
}

div#buttons.buttons,
div#controller-buttons {
  margin: auto;
  max-width: 600px;
  padding: 30px;
  text-align: center;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px #ccc solid !important;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background: #f4f4f4;
}
